.nav {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
}
.nav:before, .nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav:before, .nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav > li {
    display: block;
    position: relative;
}
.nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #EEEEEE;
    text-decoration: none;
}
.nav > li.disabled > a {
    color: #999999;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #999999;
    cursor: not-allowed;
    text-decoration: none;
}

#content-translation-tabs{
    margin-bottom: 3px;
}

#content-translation-tabs.nav > li > a {
    display: block;
    padding: 5px 15px;
    position: relative;
}

#content-translation-tabs.nav-pills > li {
    float: left;
}
#content-translation-tabs.nav-pills > li > a {
    border-radius: 4px;
}
#content-translation-tabs.nav-pills > li + li {
    margin-left: 2px;
}

#content-translation-tabs.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #7CA0C7;
    color: #FFFFFF;
}

