
#header {
    height: 80px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 30px;
}

#header h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
}

#content{
    padding-bottom: 20px;
}

#footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    padding-top: 19px;
}

#header, .marketing, #footer {
    padding-left: 0;
    padding-right: 0;
}

.marketing {
    margin: 40px 0;
}

#content-left-column .well,#content-left .well{
    height: 350px;
}