{% extends request.current_page.get_template %}
{% load i18n admin_static cms_tags sekizai_tags%}

{% block main_content%}

	{% addtoblock "css" %}<link rel="stylesheet" type="text/css" media="all" href="{% static "atlcontenttype/css/picture.css" %}" /> {% endaddtoblock %}
	<div class="picture_content">

        <div class="btn_zone">
            {% if previous_content %}
                <a  href="{% page_url "content_picture" %}{{previous_content.id}}/{{ previous_content.slug }}/">
                    <img class="btn_left" src="{{ STATIC_URL }}atlcontenttype/images/btn_left.png" />
                </a>
            {% else %}
                <img class="btn_left inactive" src="{{ STATIC_URL }}atlcontenttype/images/btn_left.png" />
           {% endif %}
            {% if next_content %}
                <a href="{% page_url "content_picture" %}{{ next_content.id }}/{{ next_content.slug }}/">
                    <img class="btn_right" src="{{ STATIC_URL }}atlcontenttype/images/btn_right.png" />
                </a>
            {% else %}
                <img class="btn_right inactive" src="{{ STATIC_URL }}atlcontenttype/images/btn_right.png" />
            {% endif %}
        </div>
        <div class="clean"></div>
        <div class="field_image_wrapper">
            {% if atl_node.image %}
                <img class="field_image" src="{{atl_node.image.url}}" />
            {% endif %}
        </div>
		<h1 class="field_title">{{atl_node.title}}</h1>
		<div class="field_body">
			{{atl_node.body|safe}}	
		</div>
	</div>
{% endblock %}
