{% extends request.current_page.get_template %}
{% load i18n admin_static cms_tags sekizai_tags%}

{% block main_content%}

	{% addtoblock "css" %}<link rel="stylesheet" type="text/css" media="all" href="{% static "atlcontenttype/css/thumbnails.css" %}" /> {% endaddtoblock %}
	<div class="folder_content_thumbnails">
		<h1 class="field_title">{{atl_node.title}}</h1>
        <ul>
        {% for item in atl_node.childrens %}
            <li>
                <a href="{% page_url "content_picture" %}{{ item.id }}/">
                    <img src="{{ item.image.url }}" />
                </a>
                <h2><a href="{% page_url "content_picture" %}{{ item.id }}/">{{ item.title }}</a></h2>
            </li>
        {% endfor %}

        </ul>
	</div>
{% endblock %}
