{% extends request.current_page.get_template %}
{% load i18n admin_static cms_tags sekizai_tags%}

{% block main_content%}
    {% addtoblock "css" %}<link rel="stylesheet" type="text/css" media="all" href="{% static "atlcontenttype/css/video.css" %}" /> {% endaddtoblock %}
    {% addtoblock 'js' %}<script id="lib_jwplayer_v5_8" src="{{ STATIC_URL }}common/jwplayer/jwplayer_v5_8/jwplayer.js" type="text/javascript"></script>{% endaddtoblock %}
    {% with atl_node as video %}
        <div class="video_content">
            <div class="label_video"><span>video</span></div>
            <div class="content_body">
                <div class="frame">
                    {%if video.video_source == 'embeded' %}
                        {{video.embeded_video|safe}}
                    {% else %}
                        <div id="{{video.id}}">
                            {% trans "Loading the player ..." %}
                        </div>
                        <script type="text/javascript">
                            $(function(){
                                jwplayer("{{ video.id }}").setup({"autostart": false,
                                    {% if video.thumbnail %}
                                        "image": "{{video.thumbnail.url}}",
                                    {% endif %}
                                    "controlbar": "bottom",
                                    "width": 322,
                                    "height":205,
                                    "autoplay":true,
                                    {% if video.video_source == 'embeded' %}
                                        "file": "{{ video.embeded_video }}",
                                    {% elif video.video_source == 'external'%}
                                        "file": "{{ video.external_url }}",
                                    {% else %}
                                        "file": "{{ MEDIA_URL }}{{ video.video }}",
                                    {% endif %}
                                     "flashplayer": "{{ STATIC_URL }}common/jwplayer/jwplayer_v5_8/player.swf"});
                            });
                        </script>
                    {% endif %}
                </div>
                <div class="video_text_fields">
                    <div class="wrapper">
                        <h1 class="field_title"><a href="{{video.cms_absolute_url}}">{{video.title}}</a></h1>
                        <div class="field_description">
                            {{ video.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="video_brothers">
                <ul>
                    {% for item in brothers %}
                        <li class="video_item">
                            <div class="thumbnail_frame">
                                {% if item.thumbnail %}
                                    <a href="{% page_url "content_video" %}{{ item.id }}/"><img src="{{ item.thumbnail.url }}" /></a>
                                {% endif %}
                            </div>
                            <h2 class="field_title"><a href="{% page_url "content_video" %}{{ item.id }}/">{{ item.title }}</a></h2>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="clean"></div>
        </div>
    {% endwith %}
{% endblock %}
