{% extends "admin/cms/add_form.html" %}
{% load i18n object_tools admin_static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "translations/cms/css/translations.css" %}" />
{{ block.super }}
{% endblock %}

{% block form_top %}
<input type="hidden" name="language" value="{{language}}" id="language_content"/>
{% if show_language_tabs %}
    <ul id="content-translation-tabs" class="nav nav-pills">
        {% for tab in language_tabs %}
            <li class="{% ifequal tab.code language %}active{% endifequal %}">
                <a id="{{ tab.code }}" class="language_button {% ifequal tab.code language %}selected{% else %}{% if not tab.code in filled_languages %} notfilled{% endif %}{% endifequal %}" href="{{ tab.url }}" >{{ tab.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock form_top %}