@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Caption'), local('PT'), url('/files/skins/suenacubano/fonts/PTC55f.ttf') format('truetype');
}


@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Caption'), url('/files/skins/suenacubano/fonts/PTC75F.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Narrow'), url('/files/skins/suenacubano/fonts/PTN57F.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Narrow'), url('/files/skins/suenacubano/fonts/PTN77F.ttf') format('truetype');
}


@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), url('/files/skins/suenacubano/fonts/PTS55F.ttf') format('truetype');
}


@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  src: local('PT Sans Narrow'), url('/files/skins/suenacubano/fonts/PTS56F.ttf') format('truetype');
}


@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Narrow'), url('/files/skins/suenacubano/fonts/PTS75F.ttf') format('truetype');
}


@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: local('PT Sans Narrow'), url('/files/skins/suenacubano/fonts/PTS76F.ttf') format('truetype');
}