{% load sekizai_tags admin_static i18n cms_tags%}

{% addtoblock "css"%}<link rel="stylesheet" type="text/css" media="all" href="{% static "atlplugin_video/css/styles.css" %}" /> {% endaddtoblock %}
{% addtoblock 'js' %}<script id="lib_jwplayer_v5_8" src="{{ STATIC_URL }}common/jwplayer/jwplayer_v5_8/jwplayer.js" type="text/javascript"></script>{% endaddtoblock %}
<div class="atlplugin atlplugin_video">
    <div class="atlplugin_body">
        <div class="frame">
            <div class="frame_wrapper">
                {% if instance.show_player %}
                    {%if instance.video.video_source == 'embeded' %}
                        {{instance.video.embeded_video|safe}}
                    {% else %}
                        <div id="{{instance.id}}">
                            {% trans "Loading the player ..." %}
                        </div>
                        <script type="text/javascript">
                            $(function(){
                                jwplayer("{{ instance.id }}").setup({"autostart": false,
                                    {% if instance.video.thumbnail %}
                                        "image": "{{instance.video.thumbnail.url}}",
                                    {% endif %}
                                    {% if instance.width %} "width": {{ instance.width }}, {% endif %}
                                    {% if instance.height %} "height": {{ instance.height }}, {% endif %}
                                    "controlbar": "bottom",
                                    {% if instance.video.video_source == 'embeded' %}
                                        "file": "{{ instance.video.embeded_video }}",
                                    {% elif instance.video.video_source == 'external'%}
                                        "file": "{{ instance.video.external_url }}",
                                    {% else %}
                                        "file": "{{ MEDIA_URL }}{{ instance.video.video }}",
                                    {% endif %}
                                     "flashplayer": "{{ STATIC_URL }}common/jwplayer/jwplayer_v5_8/player.swf"});
                            });
                        </script>
                    {% endif %}
                {% else %}
                    <a href="{% page_url "content_video" %}{{ instance.video.id }}/"><span class="btn_play"></span></a>
                    {% if instance.video.thumbnail %}
                        <img class="field_thumbnail" style="{% if instance.width %} width: {{ instance.width }}px; {% endif %}
                                            {% if instance.height %} height: {{ instance.height }}px; {% endif %}" src="{{instance.video.thumbnail.url}}" />
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="field_wrapper">
            {% if instance.show_title %}
                <h3 class="field_title"><a href="{{instance.video.cms_absolute_url}}">{{instance.video.title}}</a></h3>
            {% endif %}
            {% if instance.show_description %}
                <div class="field_description">
                    {{ instance.video.description|safe }}
                </div>
            {% endif %}
        </div>
    </div>
</div>