#left-column {
	float:left;
	margin-top:20px;
	width: 170px;
	min-height:400px;
	border-right:1px solid #d3d3d3;
}

#right-column {
	float:left;
	margin-top:20px;
	margin-left:20px;
}

#demo {
	width:100%;
}
