{#{% extends "admin/cms/page/plugin_change_form.html" %}#}
{% extends "atlf_plugin_change_form.html" %}

{% load i18n nav_tree vcl admin_static %}
{% load cms_tags sekizai_tags %}

{% block jquery %}
    <script type="text/javascript" src="{% static "atlfinder/js/jquery.min.js" %}"></script>
{% endblock jquery %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
          media="all"/>

{#    <link rel="stylesheet" type="text/css" href="{% static "atlfinder/bootstrap/css/bootstrap.min.css" %}"/>#}
    <link rel="stylesheet" type="text/css" href="{% static "atlfinder/css/atlfinder.css" %}"/>
{% endblock %}

{% block extrahead %}{{ block.super }}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"
            type="text/javascript"></script>

{#    <script type='text/javascript' src="{% static "atlfinder/bootstrap/js/bootstrap.min.js" %}"></script>#}
    <script type='text/javascript' src="{% static "atlfinder/js/atlfinder.js" %}"></script>
{% endblock %}


{% block fieldsets %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    <style>
        div.field-body label {
            display: none
        }
    </style>
{% endblock %}