#atlfindercontent_set-group .field-model, .field-node_id {
    display: none;
}

#atlfindercontent_set-group{
    margin: 10px 12px;
}

#atlfindercontent_set-group h2{
    background: url("../../admin/img/nav-bg.gif") repeat-x scroll left top #E1E1E1;
    color: #000000;
}

#atlfindercontent_set-group h3 {
    background: none;
    border: none;
}
#atlfindercontent_set-group h3 b, #atlfindercontent_set-group h3 span.inline_label {
    display: none;
}

.field-node_title .ui-autocomplete-input{
    width: 100%;
}