{% extends "admin/base_site.html" %}
{% load i18n admin_modify m2ct admin_static %}

{% block scripts %}
<script type='text/javascript' src="{% static "common/jquery/jquery-1.5.1.min.js" %}"></script>
{{ block.super }}
<script type='text/javascript'>
function Switch(element){
	var models = jQuery('input.model');
	if(element.checked){
		models.each(function(index) {
			$(this).attr('checked', 'checked');
		});		
	}
	else{
		models.each(function(index) {
			$(this).removeAttr('checked');
		});	
	}
} 
function CheckAll(element){
	if(element.checked){
		var models = jQuery('input.model');
		var all_checked = true;
		models.each(function(index){
			if(!$(this).attr('checked')){
				all_checked = false;
			}
		});
		if(all_checked){
			jQuery('#id_all').attr('checked', 'checked');
		}	
	}
	else{
		$('#id_all').removeAttr('checked');
	}
}           
</script>
{% endblock %}


{% block main_content %}
<form action="." name="content_types" method="post" id="content_types_form">{% csrf_token %}
	<p>
		<input type="checkbox" id="id_all" name="all"{% if use_all %} checked=checked{% endif%} onchange="Switch(this);" />
		<label for="id_all">{% trans 'all' %}</label>
	</p>
	{% for key, value in all.items %}
	<p>
		{% with value|get_meta as opts %}
		<input type="checkbox" class='model' id="id_{{key}}" name="ct_{{key}}" {%if key|checked:allowed%}checked="checked" {%endif%}onchange="CheckAll(this);" />
		<label for="id_{{key}}">{% trans opts.object_name %}</label>
		{% endwith %}
	</p>
	{% endfor %}
	<p><input type="submit" value="{% trans 'Save' %}" /></p>
</form>
{% endblock %}

