{% extends "mysite/_layouts/_main.html" %}
{% load i18n admin_static sekizai_tags %}
{% load cms_tags%}

{% block title %}
     {% page_attribute "page_title" %}::{{ block.super }}
{% endblock %}

{% block main_content %}
<div class="row">
    <div id="content-left-column" class="col-lg-2">
        {% placeholder  content-left-column or %}
            <div class="well">
                <span class="badge">content-left-column</span>
            </div>
        {% endplaceholder %}

    </div>
    <div id="content-left" class="col-lg-10">
        {% placeholder  main-content or %}
            <div class="well">
                <span class="badge">main-content</span>
            </div>
        {% endplaceholder %}
    </div>
</div>
{% endblock main_content %}