{% extends "mysite/_layouts/_main.html" %}
{% load i18n admin_static sekizai_tags %}
{% load cms_tags%}

{% block title %}
     {% page_attribute "page_title" %}::{{ block.super }}
{% endblock %}
{% block main_content %}
    {% placeholder main-content or %}
    <div class="jumbotron">
        <span class="badge">main-content</span>
        <h1>MySite Jumbotron</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a role="button" href="#" class="btn btn-lg btn-success">Sign up today</a></p>
    </div>
    <div class="row marketing">
            <div class="col-lg-6">
              <h4>Subheading</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

              <h4>Subheading</h4>
              <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

              <h4>Subheading</h4>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-6">
              <h4>Subheading</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

              <h4>Subheading</h4>
              <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

              <h4>Subheading</h4>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
          </div>
    {% endplaceholder %}
{% endblock main_content %}
