{% load sekizai_tags admin_static cms_tags%}

{% addtoblock "css"%}<link rel="stylesheet" type="text/css" media="all" href="{% static "atlplugin_document/css/document.css" %}" /> {% endaddtoblock %}
<div class="atlplugin atlplugin_document">
	{% if instance.content.image %}
        {% if instance.show_in_page %}
		    <a href="{% page_url "content_document" %}{{ instance.content.id }}/"><img class="field field_image" src="{{instance.content.image.url}}"/></a>
        {% else %}
            <img class="field field_image" src="{{instance.content.image.url}}"/>
        {% endif %}
	{% endif %}
	<h3 class="field field_title">
        {% if instance.show_in_page %}
            <a href="{% page_url instance.show_in_page %}{{ instance.content.id }}/">{{instance.content.title}}</a>
        {% else %}
            {{instance.content.title}}
        {% endif %}
    </h3>
    {% if instance.show_description %}
        <div class="field field_description">
        {{instance.content.description|safe}}
        </div>
    {% endif %}
    {% if instance.show_body %}
        <div class="field field_body">
            {{instance.content.body|safe}}
        </div>
    {% endif %}

</div>