@font-face {
	font-family: 'Droid Sans';
  	font-style: normal;
 	font-weight: normal;
  	src: local('Droid Sans'), url('../../fonts/droid_sans.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans'), url('../../fonts/droid_sans_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Serif'), url('../../fonts/DroidSerif-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), url('../../fonts/DroidSerif.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/DroidSerif.ttf');
  src: local('Droid Serif'), local('DroidSerif'), url('../../fonts/DroidSerif.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/DroidSerif.ttf');
  src: local('Droid Serif'), local('DroidSerif'), url('../../fonts/DroidSerif.ttf&chromeframe') format('truetype');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: normal;
  src: local('Droid Sans'), url('../../fonts/DroidSerif-Italic.ttf') format('truetype');
}
