{% load i18n admin_static%}
{% load cms_tags sekizai_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:'en-us' }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} xml:lang="{{ LANGUAGE_CODE }}" >
<head>
    <title>{% block title %}{{ dc.title }}{% endblock %}</title>
    <meta name="Description" content='{{dc.description|striptags|truncatewords:150}}' />
    <meta name="Keywords" content="{{dc.keywords}}" />
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <meta name="Author" content="{{dc.author}}" />
    <meta name="Copyright" content="{{dc.copyright}}" />
    <meta name="Creator" content="{{dc.creator}}" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="General" />

    <!-- begin styles block -->
    <!-- Bootstrap -->
    {% addtoblock 'css' %}<link rel="stylesheet" type="text/css" media="screen" href="{% static "bootstrap/css/bootstrap.css"%}" /> {% endaddtoblock %}
    <!-- EndBootstrap -->
    <!-- FontAwesome  -->
    {% addtoblock 'css' %}<link rel="stylesheet" type="text/css" media="screen" href="{% static "font-awesome/css/font-awesome.min.css"%}" /> {% endaddtoblock %}
    <!-- EndFontAwesome -->
    {% addtoblock 'css' %}<link rel="stylesheet" type="text/css" media="all" href="{% static "mysite/css/base.css"%}" />{% endaddtoblock %}

    {% render_block "css" %}
   <!-- end styles block -->

</head>

<body class="{% block bodyclass %}{% endblock %}">

{% cms_toolbar %}
{% block content_wrapper %}
{% endblock content_wrapper %}
    <!-- begin scripts block -->
    {% addtoblock "js" %} <script type="text/javascript" src="{% static "assets/js/jquery.min.js" %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %} <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %} <script type="text/javascript" src="{% static "assets/js/holder.js" %}"></script>{% endaddtoblock %}
    <!-- begin google_analytics_code -->
    {% if site_profile.google_analytics_script %}
        {{site_profile.google_analytics_script|safe}}
    {% endif %}

    <!-- end google_analytics_code -->
    {% render_block "js" %}
    <!-- end scripts block -->
</body>
</html>
