{% extends "mysite/_layouts/_base.html" %}
{% load i18n admin_static sekizai_tags %}
{% load cms_tags menu_tags %}

{% block content_wrapper %}
    {% addtoblock "css" %}<link rel="stylesheet" type="text/css" media="all" href="{% static "mysite/css/main.css" %}" />{% endaddtoblock %}
    <!-- BEGIN content-wrapper -->
    <div id="content-wrapper" class="container">
        <div id="content">
             <!-- TO remove block -->
            {% block content %}
                     <div id="header">
                        {% block header %}
                          <div id="menu" class="pull-right">
                          {% placeholder menu or%}
                                <ul class="nav nav-pills">
                                      <li class="active"><a href="#">{% trans "Home"%}</a></li>
                                      <li><a href="#">{% trans "About" %}</a></li>
                                      <li><a href="#">{% trans "Contact" %}</a></li>
                                </ul>
                            {%  endplaceholder %}
                            </div>
                            <div id="site-branding" class="pull-left">
                            {% placeholder site-branding or %}
                                <span class="badge">site-branding</span>
                                <h3 class="text-muted">MySite II</h3>
                            {% endplaceholder %}
                            </div>
                        {% endblock header %}
                     </div>
                     <div class="main-content">
                        {% block main_content %}

                        {% endblock main_content %}
                     </div>
            {% endblock content %}
        </div>

        <!-- BEGIN footer -->
        <div id="footer">
        {% block footer %}
            {% placeholder copyright or %}
                <span class="badge">copyright</span>
                <p>&copy; AtlanteSoftware 2013</p>
            {% endplaceholder %}
        {% endblock footer %}
        </div>
        <!-- END footer -->
    </div>
{% endblock content_wrapper %}
 <!-- END content_wrapper -->