{% load i18n nav_tree vcl admin_static %}
{% load cms_tags sekizai_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "atlcms/css/base.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "atlcms/css/icons.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "common/js/jquery.plugins/noty/css/jquery.noty.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "common/js/jquery.plugins/noty/css/noty_theme_default.css" %}" />
	{% if is_popup %}
		<link rel="stylesheet" type="text/css" href="{% static "atlcms/css/minimal.css" %}" />
	{% endif %}
	<!-- Media Environment styles -->
	{% for css in media_environment.styles %}
		<link id="{{css.keys|first}}" rel="stylesheet" href="/static{{css.values|first }}" type="text/css"/>
	{% endfor %}
	<!-- End Media Environment styles -->

{% endblock %}
    {% render_block "css" %}

{% block scripts %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{{ STATIC_URL }}admin/css/ie.css{% endblock %}" /><![endif]-->
		<script id="lib_atlcore" type="text/javascript" src="{% static "common/js/atlcore.js" %}"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
		<!-- Media scripts environment -->
		{% for script in media_environment.scripts %}
			<script id="{{script.keys|first}}" src="{% static script.values|first %}" type="text/javascript"></script>
		{% endfor %}
		<script id="lib_jquery_json" type="text/javascript" src="{% static "common/js/jquery.plugins/jquery.json-2.2.js" %}"></script>
		<script id="lib_jquery_noty" type="text/javascript" src="{% static "common/js/jquery.plugins/noty/js/jquery.noty.js" %}"></script>
		<script id="lib_promise" type="text/javascript" src="{% static "common/js/jquery.plugins/noty/js/promise.js" %}"></script>
		<script id="lib_jquery_position" type="text/javascript" src="{% static "common/jquery/ui/v1.8.13/jquery.ui.position.min.js" %}"></script>
		<script id="lib_jquery_dialog" type="text/javascript" src="{% static "common/jquery/ui/v1.8.13/jquery.ui.dialog.min.js" %}"></script>
		<script id="lib_jquery_blockUI" type="text/javascript" src="{% static "common/js/jquery.blockUI.js" %}"></script>
		<!-- end media scripts environment -->
		<script type="text/javascript">$(document).ajaxStop($.unblockUI);</script>
{% endblock %}
    {% render_block "js" %}
{% block extrastyle %}{% endblock %}

<script type="text/javascript">
	atl_context.object = Object();
	atl_context.object.admin_change_url = '{{object.admin_change_url}}';
	$.ajaxSetup({
		error: function() { noty({text: 'Se ha producido un error', type: 'error'});}
	});
</script>

{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{{ STATIC_URL }}admin/css/rtl.css{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{{ STATIC_URL }}admin/{% endfilter %}";</script>
<script type="text/javascript" src="{% static "atlcms/js/language.js" %}"></script>
{% block extrahead %}{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<div id="atlcms-dialog"></div>
<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
		{% block logo %}
		<div id="logo">
		  <a href="{% url 'admin:index' %}"><img src="{% static "atlcms/images/logo.png" %}" alt="{% trans 'AtlanteCMS admin' %}" title="{% trans 'AtlanteCMS admin' %}" /></a>
		</div>
		{% endblock %}
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% if user.is_active and user.is_staff %}
        <div id="user-tools">
        	<ul>
        		<li class="first">
		            {% trans 'Welcome,' %}
		            <span>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</span>      			
        		</li>
	            {% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
				<li>
	                 <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
				</li>
				{% endif %}
				<li>
				{% url 'admin:password_change' as password_change_url %}
                {% if password_change_url %}
                    <a href="{{ password_change_url }}">
                {% else %}
                    <a href="{{ root_path }}password_change/">                
                {% endif %}
				{% trans 'Change password' %}</a>
				</li>
	            <li class="last">    
                {% url 'admin:logout' as logout_url %}
                {% if logout_url %}
                    <a href="{{ logout_url }}">
                {% else %}
                    <a href="{{ root_path }}logout/">
                {% endif %}
                {% trans 'Log out' %}</a>
				</li>
	            {% endblock %}
			</ul>
        </div>
		<div id="nav-global">
        {% block nav-global %}{% endblock %}
		</div>
		{% endif %}
    </div>
    <!-- END Header -->
	<div id="breadcrumbs">
    {% block breadcrumbs %}
	<a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}
	{% endblock %}
	</div>
    {% endif %}
		
	<div id="content-wrapper">		
		{% if not is_popup %}		
	    <!-- Menu -->
		<div id="left-col">
			<div id="main-menu-wrapper">
			    <div id="main-menu">
			    {% block main-menu %}
			    	{% if nav_tree%}
						{% show_component nav_tree %}
					{% endif %}
			    {% endblock %}
			    </div>
			</div>
		</div>
		{% endif %}
		{% block content %}
	    <!-- Content -->
		<div id="main-content">			
			<div id="main-content-wrapper">	
                {% block object-tools %}{% endblock %}
                {% if messages %}
                <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
                {% endif %}
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1 class="{% block content_title_class %}border-bottom{% endblock %}">{{ title }}</h1>{% endif %}{% endblock %}
			    <div id="content" class="{% block coltype %}colM{% endblock %}">
			    	{% block main_content %}		        
			        {{ content }}
			        {% endblock %}			        
			        {% block sidebar %}{% endblock %}
			        <br class="clear" />
			    </div>
			</div>
		</div>
		{% endblock %}
	    <!-- END Content -->
        <br class="clear" />
    </div>

    {% block footer %}<div id="footer">{% trans 'Copyright' %}© 2010</div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
