{% load i18n admin_static sekizai_tags %}
<form action="{% url 'admin:setlang' %}" method="post" id="language_form">
{% csrf_token %}
<ul>
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
    <li {% if forloop.last %}class="last"{% endif %}>
        {% ifequal lang.0 LANGUAGE %}
		<span><img src="{{ lang.0|lang_flag_url }}"  alt="{{ lang.1 }}" title="{{ lang.1 }}" /></span>
		{% else%}
		<a href="javascript:void(0);" onclick="change_language('{{ lang.0 }}');"><img src="{{ lang.0|lang_flag_url }}"  alt="{{ lang.1 }}" title="{{ lang.1 }}" /></a>
{% comment %}		{% if object %}
		<input type="hidden" id="lang_{{lang.0}}_id" value="{{ object|lang_redirect_url:lang.0 }}" />d
		{% endif %}{% endcomment %}
		{% endifequal %}
    </li>
    {% endfor %}
	<input type="hidden" id="language" name="language" value="{{LANGUAGE}}" />
</ul>
</form>

<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{{ redirect_to }}" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
    {{ language.name_local }} ({{ language.code }})
</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>