html, body {
	margin:0;
	padding:0;
}
div#page {
	width: 900px;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 1px 1px;
}

div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}

