{% load sekizai_tags admin_static i18n cms_tags %}
{% load mathtag %}
{% load siteutils %}
{% get_current_language as LANGUAGE_CODE %}

<div class="itemlist-content-wrapper {{ instance.css_class }}">{{ objects }}
    {% for obj in objects %}
        <div class="col-xs-12 alt-list-content-wrapper list-content-wrapper {% if forloop.last %}list-content-wrapper-last{% endif %} {% if forloop.first %}list-content-wrapper-first{% endif %}">
            <div class="list-content">
                {% if obj.image and not 'image' in exclude_fields %}
                    <div class="obj-image col-xs-4">
                        <div class="row">
                            {% math obj.image.width obj.image.height "$1 / $2.0" as ratio %}
                            {% math 250 ratio "$1 / $2" as height %}
                            {% if instance.link_content %}
                                <a href="/{{ LANGUAGE_CODE }}/{{ obj.content_type.name }}/{{ obj.id }}/{{ obj.slug }}/"
                                   title="{{ obj.title }}">
                            {% endif %}
                            <img class="field_image" src="{% get_image_crop obj.image 250 height %}"
                                 alt="{{ obj.title }}"/>
                            {% if instance.link_content %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div class="left-content {% if obj.image and not 'image' in exclude_fields %} col-xs-8 {% else %} col-xs-12 {% endif %}">
                    <div class="row">
                        {% if instance.link_content %}
                            <a href="/{{ LANGUAGE_CODE }}/{{ obj.content_type.name }}/{{ obj.id }}/{{ obj.slug }}/"
                               title="{{ obj.title }}">
                        {% endif %}
                        {% if not 'title' in exclude_fields %}
                            <h{% if instance.main_content and objects|length_is:1 %}1{% else %}2{% endif %} class="title">{{ obj.title }}</h{% if instance.main_content and objects|length_is:1 %}1{% else %}2{% endif %}>
                        {% endif %}
                        {% if instance.link_content %}
                            </a>
                        {% endif %}
                        {% if not 'description' in exclude_fields %}
                            <div class="clear">
                                {{ obj.description|safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    {% if instance.show_paginator  and objects.paginator.num_pages > 1 %}
        {% if objects.has_next or objects.has_previous %}
            <div class="pager clear">
                <span class="first-page"><a href="?page=1"><<</a></span>
                {% if objects.has_previous %}
                    <span class="page">
          <a href="?page={{ objects.previous_page_number }}">&lt;</a>
          </span>
                {% endif %}
                {% for linkpage in objects.paginator.page_range %}
                    {% ifequal linkpage objects.number %}
                        <span class="current">{{ objects.number }}</span>
                    {% else %}
                        {% math objects.number 5 "$1 + $2" as tp %}
                        {% math objects.number 5 "$1 - $2" as tm %}
                        {% if linkpage <= tp and linkpage >= tm %}
                            <span class="page"><a href="?page={{ linkpage }}"
                                    >{{ linkpage }}</a></span>
                        {% endif %}
                    {% endifequal %}
                {% endfor %}
                {% if objects.has_next %}
                    <span class="page"><a href="?page={{ objects.next_page_number }}"> &gt;</a></span>
                {% endif %}
                <span class="last-page"><a href="?page={{ objects.paginator.num_pages }}"> >> </a></span>
            </div>
        {% endif %}
    {% endif %}
</div>