{% load sekizai_tags admin_static i18n cms_tags %}
{% load customtag %}
{% load mathtag %}
{% load siteutils %}
{#{{ instance.exclude_all }}#}
<div class="item-list-wrapper content-wrapper-{{ instance.id }}">
    <div class="item">
        {% for item in objects %}
            <div class="clear">
                {% if item.image %}
                    <div class="item-image">
                        {% math item.image.width item.image.height "$1 / $2.0" as ratio %}
                        {% math 150 ratio "$1 / $2" as height %}
                        <a href="{{ item.get_absolute_url }}">
                            <img class="field_image"
                                 src="{% get_image_crop item.image 150 height %}"/>
                        </a>
                    </div>
                {% endif %}
                <div class="item-title">
                    {{ item.title }}
                </div>
            </div>
        {% endfor %}
        {% if instance.show_paginator  and objects.paginator.num_pages > 1 %}
            <div class="pager clear">

                <span class="first-page"><a href="?page=1"><<</a></span>

                {% if objects.has_previous %}
                    <span class="page">
                                  <a href="?page={{ objects.previous_page_number }}">&lt;</a>
                                  </span>
                {% endif %}

                {% for linkpage in objects.paginator.page_range %}

                    {% ifequal linkpage objects.number %}
                        <span class="current">{{ objects.number }}</span>
                    {% else %}
                        <span class="page"><a href="?page={{ linkpage }}"
                                >{{ linkpage }}</a></span>
                    {% endifequal %}
                {% endfor %}
                {% if objects.has_next %}
                    <span class="page"><a href="?page={{ objects.next_page_number }}"> &gt;</a></span>
                {% endif %}

                <span class="last-page"><a href="?page={{ objects.paginator.num_pages }}">
                    >> </a></span>
            </div>
        {% endif %}
    </div>
</div>