{% load i18n admin_static%}
{% load cms_tags sekizai_tags %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>


    <title>{% block title %}{{ dc.title }}{% endblock %}</title>
    <meta name="Description" content='{{dc.description|striptags|truncatewords:150}}' />
    <meta name="Keywords" content="{{dc.keywords}}" />
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <meta name="Author" content="{{dc.author}}" />
    <meta name="Copyright" content="{{dc.copyright}}" />
    <meta name="Creator" content="{{dc.creator}}" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="General" />

    <!-- begin styles block -->
    {% render_block "css" %}
    {% addtoblock 'css' %}
        {% if DEBUG %}
            <link rel="stylesheet" href="{% static ""%}common/css/fonts/pt.css">
        {%else%}
            <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
        {% endif %}

    {% endaddtoblock %}
    {% addtoblock 'css' %}<link rel="stylesheet" type="text/css" media="all" href="{% static "grid-960/css/reset.css"%}" />{% endaddtoblock %}
    {% addtoblock 'css' %}<link rel="stylesheet" type="text/css" media="all" href="{% static "grid-960/css/text.css"%}" />{% endaddtoblock %}
    {% addtoblock 'css' %}<link rel="stylesheet" type="text/css" media="all" href="{% static "grid-960/css/960.css"%}" />{% endaddtoblock %}
    {% addtoblock 'css' %}<link rel="stylesheet" type="text/css" media="all" href="{% static "mysite/css/base.css"%}" />{% endaddtoblock %}
    <!-- end styles block -->

    <!-- begin scripts block -->
    {% render_block "js" %}
    <!-- end scripts block -->

    <!-- begin google_analytics_code -->
    {% if site_profile.google_analytics_script %}
        {{site_profile.google_analytics_script|safe}}
    {% endif %}
    <!-- end google_analytics_code -->

</head>

<body class="{% block bodyclass %}{% endblock %}">
{% cms_toolbar %}
{% placeholder base_content %}
{% block content %}
{% endblock %}
</body>
</html>
