{% extends "mysite/base.html" %}
{% load i18n admin_static sekizai_tags %}
{% load cms_tags menu_tags %}

{% block content %}
<!-- Container -->
    {% addtoblock "css" %}<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}mysite/css/main.css" />{% endaddtoblock %}
    <div id="header" class="container_12">

        <div class="grid_2 prefix_6 suffix_4" >
            <ul id="top_menu_social_networks">
                <li><a href="#"><img src="{{ STATIC_URL }}mysite/images/icon_facebook.png" /></a></li>
                <li><a href="#"><img src="{{ STATIC_URL }}mysite/images/icon_twitter.png" /></a></li>
                <li><a href="#"><img src="{{ STATIC_URL }}mysite/images/icon_youtube.png" /></a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="site_logo" class="grid_5">
            {% placeholder site_logo or %}
                <h1>XVII Feria Internacional <br/>Cubadisco 2013 :: 18 - 26/MAY</h1>
                <h2>dedicado al violín</h2>
            <a href="/">
            <span class="site_logo">
                <img alt="" src="{% static 'mysite/images/logo.png'%}"/>
            </span>
            </a>
            <p class="slogan">"La música de concierto y los jóvenes"</p>
            <p class="guest">País Invitado de honor :: Ecuador</p>
            {% endplaceholder%}
        </div>
        <div class="grid_3 suffix_4" id="next_event">
            <ul id="site_menu">
                {% show_menu 0 100 100 100 %}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div id="site_main" class="container_12">
        <div class="grid_12">
            <div id="main_content" >
                {% block main%}
                {% endblock%}
                <div class="clear"></div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer" class="container_12">
        <div class="grid_12">
            {% placeholder footer or %}
            <p style="text-align: center;">
                © 2013  |   Instituto Cubano de la Música   |   Cubadisco
    <br>
    Desarrollo y diseño:
    <a href="http://suenacubano.com">suenacubano.com</a>
    </p>
            {% endplaceholder%}
        </div>

    </div>

    <!-- END Container -->



{% endblock %}