{% extends "mysite/main.html" %}
{% load i18n admin_static %}
{% load cms_tags%}
{% load sekizai_tags %}


{% block main%}
<div class="grid_12 alpha omega" >
	<div class="content_background">
		<div class="grid_12 alpha omega">
			<div class="content_wrapper">
				{% block main_content%}
				{% endblock%}
				{% placeholder home_01 or %}
				{% endplaceholder%}
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}
