{% extends "mysite/main.html" %}
{% load i18n admin_static %}
{% load cms_tags%}
{% load sekizai_tags %}


{% block main%}
{% addtoblock "css"%}<link rel="stylesheet" type="text/css" media="all" href="{% static "skins/basesite/css/content.css" %}" /> {% endaddtoblock %}
<div class="grid_12 alpha omega" >
	<div class="content_background">
		<div class="grid_6 prefix_1 alpha">
			<div class="content_wrapper">
				{% block main_content%}
				{% endblock%}
				{% placeholder hollow_01 or %}
				{% endplaceholder%}
			</div>
		</div>
		<div class="grid_4 suffix_1 omega">
            <div id="hollow_02" >
                {% placeholder hollow_02 or %}
                    <h2 class="section_header">Columna Derecha</h2>
                    <h3 class="news_title">Hueco 1</h3>
                    <p>Aquí también podrá poner contenidos</p>
                {% endplaceholder%}
            </div>
		</div>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}
