body, td, pre {color:#000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:8px;}
body {background:#FFF;}
body.mceForceColors {background:#FFF; color:#000;}
body.mceBrowserDefaults {background:transparent; color:inherit; font-size:inherit; font-family:inherit;}
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}
.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;}
a.mceItemAnchor {display:inline-block; width:11px !important; height:11px  !important; background:url(img/items.gif) no-repeat 0 0;}
span.mceItemNbsp {background: #DDD}
td.mceSelected, th.mceSelected {background-color:#3399ff !important}
img {border:0;}
table {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
del {color:red; text-decoration:line-through}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr {border-bottom:1px dashed #CCC; cursor:help}

/* IE */
* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}

img:-moz-broken {-moz-force-broken-image-icon:1; width:24px; height:24px}
font[face=mceinline] {font-family:inherit !important}

.mceItemMedia {border:1px dotted #cc0000; background-position:center; background-repeat:no-repeat; background-color:#ffffcc}
.mceItemShockWave {background-image:url(../../img/shockwave.gif)}
.mceItemFlash {background-image:url(../../img/flash.gif)}
.mceItemQuickTime {background-image:url(../../img/quicktime.gif)}
.mceItemWindowsMedia {background-image:url(../../img/windowsmedia.gif)}
.mceItemRealMedia {background-image:url(../../img/realmedia.gif)}
.mceItemVideo {background-image:url(../../img/video.gif)}
.mceItemIframe {background-image:url(../../img/iframe.gif)}
.mcePageBreak {display:block;border:0;width:100%;height:12px;border-top:1px dotted #ccc;margin-top:15px;background:#fff url(../../img/pagebreak.gif) no-repeat center top;}

p { line-height:14px;margin-bottom:0px;margin-top:4px; }

chord.C,
chord.C-,
chord.C7,
chord.Ccharp,
chord.D,
chord.D-,
chord.D7,
chord.Dcharp,
chord.E,
chord.E-,
chord.E7,
chord.F,
chord.F-,
chord.F7,
chord.Fcharp,
chord.G,
chord.G-,
chord.G7,
chord.Gcharp,
chord.A,
chord.A-,
chord.A7,
chord.Acharp,
chord.B,
chord.B-,
chord.B7
{
	min-width: 17px; 
}

chord.Cm7,
chord.Ccharp-,
chord.Ccharp7,
chord.Dm7,
chord.Dcharp-,
chord.Dcharp7,
chord.Em7,
chord.Fm7,
chord.Fcharp-,
chord.Fcharp7,
chord.Gm7,
chord.Gcharp-,
chord.Gcharp7,
chord.Am7,
chord.Acharp-,
chord.Acharp7,
chord.Bm7
{
	min-width: 23px;
}

chord.Cdim,
chord.Caug,
chord.Ccharpm7,
chord.Ddim,
chord.Daug,
chord.Dcharpm7,
chord.Edim,
chord.Eaug,
chord.Fdim,
chord.Faug,
chord.Fcharpm7,
chord.Gdim,
chord.Gaug,
chord.Gcharpm7,
chord.Adim,
chord.Aaug,
chord.Acharpm7,
chord.Bdim,
chord.Baug
{
	min-width: 27px;
}

chord.Cdim7,
chord.Cmaj7,
chord.Cm7b5,
chord.Ccharpdim,
chord.Ccharpaug,
chord.Ddim7,
chord.Dmaj7,
chord.Dm7b5,
chord.Dcharpdim,
chord.Dcharpaug,
chord.Edim7,
chord.Emaj7,
chord.Em7b5,
chord.Fdim7,
chord.Fmaj7,
chord.Fm7b5,
chord.Fcharpdim,
chord.Fcharpaug,
chord.Gdim7,
chord.Gmaj7,
chord.Gm7b5,
chord.Gcharpdim,
chord.Gcharpaug,
chord.Adim7,
chord.Amaj7,
chord.Am7b5,
chord.Acharpdim,
chord.Acharpaug,
chord.Bdim7,
chord.Bmaj7,
chord.Bm7b5
{
	min-width: 31px;
}

chord.Cmmaj7,
chord.C7sus4,
chord.Ccharpdim7,
chord.Ccharpmaj7,
chord.Ccharpm7b5,
chord.Dmmaj7,
chord.D7sus4,
chord.Dcharpdim7,
chord.Dcharpmaj7,
chord.Dcharpm7b5,
chord.Emmaj7,
chord.E7sus4,
chord.Fmmaj7,
chord.F7sus4,
chord.Fcharpdim7,
chord.Fcharpmaj7,
chord.Fcharpm7b5,
chord.Gmmaj7,
chord.G7sus4,
chord.Gcharpdim7,
chord.Gcharpmaj7,
chord.Gcharpm7b5,
chord.Ammaj7,
chord.A7sus4,
chord.Acharpdim7,
chord.Acharpmaj7,
chord.Acharpm7b5,
chord.Bmmaj7,
chord.B7sus4
{
	min-width: 35px;
}

chord.Ccharpmmaj7,
chord.Ccharp7sus4,
chord.Dcharpmmaj7,
chord.Dcharp7sus4,
chord.Fcharpmmaj7,
chord.Fcharp7sus4,
chord.Gcharpmmaj7,
chord.Gcharp7sus4,
chord.Acharpmmaj7,
chord.Acharp7sus4
{
	min-width: 39px;
}

chord.C,
chord.C-,
chord.C7,
chord.Ccharp,
chord.D,
chord.D-,
chord.D7,
chord.Dcharp,
chord.E,
chord.E-,
chord.E7,
chord.F,
chord.F-,
chord.F7,
chord.Fcharp,
chord.G,
chord.G-,
chord.G7,
chord.Gcharp,
chord.A,
chord.A-,
chord.A7,
chord.Acharp,
chord.B,
chord.B-,
chord.B7
{
    background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 17px;
    padding-top: 14px;   
}

chord.Cdim,
chord.Cdim7,
chord.Caug,
chord.Cmaj7,
chord.Cm7,
chord.Cmmaj7,
chord.Cm7b5,
chord.C7sus4,
chord.Ccharp-,
chord.Ccharpdim,
chord.Ccharpdim7,
chord.Ccharpaug,
chord.Ccharp7,
chord.Ccharpmaj7,
chord.Ccharpm7,
chord.Ccharpmmaj7,
chord.Ccharpm7b5,
chord.Ccharp7sus4,
chord.Ddim,
chord.Ddim7,
chord.Daug,
chord.Dmaj7,
chord.Dm7,
chord.Dmmaj7,
chord.Dm7b5,
chord.D7sus4,
chord.Dcharp-,
chord.Dcharpdim,
chord.Dcharpdim7,
chord.Dcharpaug,
chord.Dcharp7,
chord.Dcharpmaj7,
chord.Dcharpm7,
chord.Dcharpmmaj7,
chord.Dcharpm7b5,
chord.Dcharp7sus4,
chord.Edim,
chord.Edim7,
chord.Eaug,
chord.Emaj7,
chord.Em7,
chord.Emmaj7,
chord.Em7b5,
chord.E7sus4,
chord.Fdim,
chord.Fdim7,
chord.Faug,
chord.Fmaj7,
chord.Fm7,
chord.Fmmaj7,
chord.Fm7b5,
chord.F7sus4,
chord.Fcharp-,
chord.Fcharpdim,
chord.Fcharpdim7,
chord.Fcharpaug,
chord.Fcharp7,
chord.Fcharpmaj7,
chord.Fcharpm7,
chord.Fcharpmmaj7,
chord.Fcharpm7b5,
chord.Fcharp7sus4,
chord.Gdim,
chord.Gdim7,
chord.Gaug,
chord.Gmaj7,
chord.Gm7,
chord.Gmmaj7,
chord.Gm7b5,
chord.G7sus4,
chord.Gcharp-,
chord.Gcharpdim,
chord.Gcharpdim7,
chord.Gcharpaug,
chord.Gcharp7,
chord.Gcharpmaj7,
chord.Gcharpm7,
chord.Gcharpmmaj7,
chord.Gcharpm7b5,
chord.Gcharp7sus4,
chord.Adim,
chord.Adim7,
chord.Aaug,
chord.Amaj7,
chord.Am7,
chord.Ammaj7,
chord.Am7b5,
chord.A7sus4,
chord.Acharp-,
chord.Acharpdim,
chord.Acharpdim7,
chord.Acharpaug,
chord.Acharp7,
chord.Acharpmaj7,
chord.Acharpm7,
chord.Acharpmmaj7,
chord.Acharpm7b5,
chord.Acharp7sus4,
chord.Bdim,
chord.Bdim7,
chord.Baug,
chord.Bmaj7,
chord.Bm7,
chord.Bmmaj7,
chord.Bm7b5,
chord.B7sus4
{
 	background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 17px;
    padding-top: 14px;
}


chord.C {  background-image: url("img/guitarchord/C.png");}
chord.C- {  background-image: url("img/guitarchord/C-.png");}
chord.Cdim {  background-image: url("img/guitarchord/Cdim.png");}
chord.Cdim7 {  background-image: url("img/guitarchord/Cdim7.png");}
chord.Caug {  background-image: url("img/guitarchord/Caug.png");}
chord.C7 {  background-image: url("img/guitarchord/C7.png");}
chord.Cmaj7 {  background-image: url("img/guitarchord/Cmaj7.png");}
chord.Cm7 {  background-image: url("img/guitarchord/Cm7.png");}
chord.Cmmaj7 {  background-image: url("img/guitarchord/Cmmaj7.png");}
chord.Cm7b5 {  background-image: url("img/guitarchord/Cm7b5.png");}
chord.C7sus4 {  background-image: url("img/guitarchord/C7sus4.png");}
chord.Ccharp {  background-image: url("img/guitarchord/Ccharp.png");}
chord.Ccharp- {  background-image: url("img/guitarchord/Ccharp-.png");}
chord.Ccharpdim {  background-image: url("img/guitarchord/Ccharpdim.png");}
chord.Ccharpdim7 {  background-image: url("img/guitarchord/Ccharpdim7.png");}
chord.Ccharpaug {  background-image: url("img/guitarchord/Ccharpaug.png");}
chord.Ccharp7 {  background-image: url("img/guitarchord/Ccharp7.png");}
chord.Ccharpmaj7 {  background-image: url("img/guitarchord/Ccharpmaj7.png");}
chord.Ccharpm7 {  background-image: url("img/guitarchord/Ccharpm7.png");}
chord.Ccharpmmaj7 {  background-image: url("img/guitarchord/Ccharpmmaj7.png");}
chord.Ccharpm7b5 {  background-image: url("img/guitarchord/Ccharpm7b5.png");}
chord.Ccharp7sus4 {  background-image: url("img/guitarchord/Ccharp7sus4.png");}
chord.D {  background-image: url("img/guitarchord/D.png");}
chord.D- {  background-image: url("img/guitarchord/D-.png");}
chord.Ddim {  background-image: url("img/guitarchord/Ddim.png");}
chord.Ddim7 {  background-image: url("img/guitarchord/Ddim7.png");}
chord.Daug {  background-image: url("img/guitarchord/Daug.png");}
chord.D7 {  background-image: url("img/guitarchord/D7.png");}
chord.Dmaj7 {  background-image: url("img/guitarchord/Dmaj7.png");}
chord.Dm7 {  background-image: url("img/guitarchord/Dm7.png");}
chord.Dmmaj7 {  background-image: url("img/guitarchord/Dmmaj7.png");}
chord.Dm7b5 {  background-image: url("img/guitarchord/Dm7b5.png");}
chord.D7sus4 {  background-image: url("img/guitarchord/D7sus4.png");}
chord.Dcharp {  background-image: url("img/guitarchord/Dcharp.png");}
chord.Dcharp- {  background-image: url("img/guitarchord/Dcharp-.png");}
chord.Dcharpdim {  background-image: url("img/guitarchord/Dcharpdim.png");}
chord.Dcharpdim7 {  background-image: url("img/guitarchord/Dcharpdim7.png");}
chord.Dcharpaug {  background-image: url("img/guitarchord/Dcharpaug.png");}
chord.Dcharp7 {  background-image: url("img/guitarchord/Dcharp7.png");}
chord.Dcharpmaj7 {  background-image: url("img/guitarchord/Dcharpmaj7.png");}
chord.Dcharpm7 {  background-image: url("img/guitarchord/Dcharpm7.png");}
chord.Dcharpmmaj7 {  background-image: url("img/guitarchord/Dcharpmmaj7.png");}
chord.Dcharpm7b5 {  background-image: url("img/guitarchord/Dcharpm7b5.png");}
chord.Dcharp7sus4 {  background-image: url("img/guitarchord/Dcharp7sus4.png");}
chord.E {  background-image: url("img/guitarchord/E.png");}
chord.E- {  background-image: url("img/guitarchord/E-.png");}
chord.Edim {  background-image: url("img/guitarchord/Edim.png");}
chord.Edim7 {  background-image: url("img/guitarchord/Edim7.png");}
chord.Eaug {  background-image: url("img/guitarchord/Eaug.png");}
chord.E7 {  background-image: url("img/guitarchord/E7.png");}
chord.Emaj7 {  background-image: url("img/guitarchord/Emaj7.png");}
chord.Em7 {  background-image: url("img/guitarchord/Em7.png");}
chord.Emmaj7 {  background-image: url("img/guitarchord/Emmaj7.png");}
chord.Em7b5 {  background-image: url("img/guitarchord/Em7b5.png");}
chord.E7sus4 {  background-image: url("img/guitarchord/E7sus4.png");}
chord.F {  background-image: url("img/guitarchord/F.png");}
chord.F- {  background-image: url("img/guitarchord/F-.png");}
chord.Fdim {  background-image: url("img/guitarchord/Fdim.png");}
chord.Fdim7 {  background-image: url("img/guitarchord/Fdim7.png");}
chord.Faug {  background-image: url("img/guitarchord/Faug.png");}
chord.F7 {  background-image: url("img/guitarchord/F7.png");}
chord.Fmaj7 {  background-image: url("img/guitarchord/Fmaj7.png");}
chord.Fm7 {  background-image: url("img/guitarchord/Fm7.png");}
chord.Fmmaj7 {  background-image: url("img/guitarchord/Fmmaj7.png");}
chord.Fm7b5 {  background-image: url("img/guitarchord/Fm7b5.png");}
chord.F7sus4 {  background-image: url("img/guitarchord/F7sus4.png");}
chord.Fcharp {  background-image: url("img/guitarchord/Fcharp.png");}
chord.Fcharp- {  background-image: url("img/guitarchord/Fcharp-.png");}
chord.Fcharpdim {  background-image: url("img/guitarchord/Fcharpdim.png");}
chord.Fcharpdim7 {  background-image: url("img/guitarchord/Fcharpdim7.png");}
chord.Fcharpaug {  background-image: url("img/guitarchord/Fcharpaug.png");}
chord.Fcharp7 {  background-image: url("img/guitarchord/Fcharp7.png");}
chord.Fcharpmaj7 {  background-image: url("img/guitarchord/Fcharpmaj7.png");}
chord.Fcharpm7 {  background-image: url("img/guitarchord/Fcharpm7.png");}
chord.Fcharpmmaj7 {  background-image: url("img/guitarchord/Fcharpmmaj7.png");}
chord.Fcharpm7b5 {  background-image: url("img/guitarchord/Fcharpm7b5.png");}
chord.Fcharp7sus4 {  background-image: url("img/guitarchord/Fcharp7sus4.png");}
chord.G {  background-image: url("img/guitarchord/G.png");}
chord.G- {  background-image: url("img/guitarchord/G-.png");}
chord.Gdim {  background-image: url("img/guitarchord/Gdim.png");}
chord.Gdim7 {  background-image: url("img/guitarchord/Gdim7.png");}
chord.Gaug {  background-image: url("img/guitarchord/Gaug.png");}
chord.G7 {  background-image: url("img/guitarchord/G7.png");}
chord.Gmaj7 {  background-image: url("img/guitarchord/Gmaj7.png");}
chord.Gm7 {  background-image: url("img/guitarchord/Gm7.png");}
chord.Gmmaj7 {  background-image: url("img/guitarchord/Gmmaj7.png");}
chord.Gm7b5 {  background-image: url("img/guitarchord/Gm7b5.png");}
chord.G7sus4 {  background-image: url("img/guitarchord/G7sus4.png");}
chord.Gcharp {  background-image: url("img/guitarchord/Gcharp.png");}
chord.Gcharp- {  background-image: url("img/guitarchord/Gcharp-.png");}
chord.Gcharpdim {  background-image: url("img/guitarchord/Gcharpdim.png");}
chord.Gcharpdim7 {  background-image: url("img/guitarchord/Gcharpdim7.png");}
chord.Gcharpaug {  background-image: url("img/guitarchord/Gcharpaug.png");}
chord.Gcharp7 {  background-image: url("img/guitarchord/Gcharp7.png");}
chord.Gcharpmaj7 {  background-image: url("img/guitarchord/Gcharpmaj7.png");}
chord.Gcharpm7 {  background-image: url("img/guitarchord/Gcharpm7.png");}
chord.Gcharpmmaj7 {  background-image: url("img/guitarchord/Gcharpmmaj7.png");}
chord.Gcharpm7b5 {  background-image: url("img/guitarchord/Gcharpm7b5.png");}
chord.Gcharp7sus4 {  background-image: url("img/guitarchord/Gcharp7sus4.png");}
chord.A {  background-image: url("img/guitarchord/A.png");}
chord.A- {  background-image: url("img/guitarchord/A-.png");}
chord.Adim {  background-image: url("img/guitarchord/Adim.png");}
chord.Adim7 {  background-image: url("img/guitarchord/Adim7.png");}
chord.Aaug {  background-image: url("img/guitarchord/Aaug.png");}
chord.A7 {  background-image: url("img/guitarchord/A7.png");}
chord.Amaj7 {  background-image: url("img/guitarchord/Amaj7.png");}
chord.Am7 {  background-image: url("img/guitarchord/Am7.png");}
chord.Ammaj7 {  background-image: url("img/guitarchord/Ammaj7.png");}
chord.Am7b5 {  background-image: url("img/guitarchord/Am7b5.png");}
chord.A7sus4 {  background-image: url("img/guitarchord/A7sus4.png");}
chord.Acharp {  background-image: url("img/guitarchord/Acharp.png");}
chord.Acharp- {  background-image: url("img/guitarchord/Acharp-.png");}
chord.Acharpdim {  background-image: url("img/guitarchord/Acharpdim.png");}
chord.Acharpdim7 {  background-image: url("img/guitarchord/Acharpdim7.png");}
chord.Acharpaug {  background-image: url("img/guitarchord/Acharpaug.png");}
chord.Acharp7 {  background-image: url("img/guitarchord/Acharp7.png");}
chord.Acharpmaj7 {  background-image: url("img/guitarchord/Acharpmaj7.png");}
chord.Acharpm7 {  background-image: url("img/guitarchord/Acharpm7.png");}
chord.Acharpmmaj7 {  background-image: url("img/guitarchord/Acharpmmaj7.png");}
chord.Acharpm7b5 {  background-image: url("img/guitarchord/Acharpm7b5.png");}
chord.Acharp7sus4 {  background-image: url("img/guitarchord/Acharp7sus4.png");}
chord.B {  background-image: url("img/guitarchord/B.png");}
chord.B- {  background-image: url("img/guitarchord/B-.png");}
chord.Bdim {  background-image: url("img/guitarchord/Bdim.png");}
chord.Bdim7 {  background-image: url("img/guitarchord/Bdim7.png");}
chord.Baug {  background-image: url("img/guitarchord/Baug.png");}
chord.B7 {  background-image: url("img/guitarchord/B7.png");}
chord.Bmaj7 {  background-image: url("img/guitarchord/Bmaj7.png");}
chord.Bm7 {  background-image: url("img/guitarchord/Bm7.png");}
chord.Bmmaj7 {  background-image: url("img/guitarchord/Bmmaj7.png");}
chord.Bm7b5 {  background-image: url("img/guitarchord/Bm7b5.png");}
chord.B7sus4 {  background-image: url("img/guitarchord/B7sus4.png");}