.atlplugin_video .frame {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    height: 139px;
    width: 217px;
}

.atlplugin_video .frame .btn_play {
    width: 217px;
    height: 139px;
    background: url("../images/btn_video_play.png") no-repeat center ;
    margin:auto;
    position:absolute;
    z-index: 10;
    top:0;
    left: 0;
}

.atlplugin_video .field_thumbnail {
    position:absolute;
    z-index: 9;
    top:0;
    left: 0;
}