.picture_content h1.field_title {
	font-size: 25px;
	color: #63A79E;
    text-align: center;
}

.picture_content div.field_body {
	font-size:14px;
	color: #b5b5b5;
}

.picture_content .btn_zone {
    float: right;
    marign-top: 5px;
    margin-right: 30px;
}

.picture_content .btn_zone .btn_left {
    float: left;
    margin-right: 47px;
}

.picture_content .btn_zone .btn_right {
    float: right;
}


.picture_content .btn_zone .inactive {
    opacity: 0.3;
}

.picture_content .field_image_wrapper {
    text-align: center;
    margin-top: 20px;
}


.picture_content .field_image_wrapper img {
    max-width: 800px;
    max-height:600px;
}


