.folder_content_thumbnails h1.field_title {
	font-size: 25px;
	color: #26abe9;
}

.folder_content_thumbnails div.field_body {
	font-size:14px;
	color: #b5b5b5;
}

.foldercontent_thumbnails ul {
    list-style: none;
}

.folder_content_thumbnails ul li{
    display: block;
    float: left;
    margin-right: 20px;
    width: 150px;
    height: 200px;
}

.folder_content_thumbnails ul li img{
    max-width: 150px;
    max-height: 150px;
}