{% extends base_detail_template|default:"contenttype/base.html" %}
{% load i18n %}

{% block main-content %}
	<div id="details">
		{% if object.creator %}
			<div class="field_creator">{{object.creator}}</div>
		{% endif %}
		{% if object.contributor %}
			<div class="field_contributor">{{object.contributor}}</div>
		{% endif %}
		<div class="field_source">{{object.embeded_map|safe}}</div>
		{% if object.description %}
			<div class="field_description"><a href="{{object.get_absolute_url}}">{{object.description|safe}}</a></div>
		{% endif %}
	</div>
{% endblock %}